.container{
    width: 100%;
}
.banner{
    height:100px;
    background-color: red;
    width: 100%;
}
.menu{
    height:30px;
    background-color: blue;
    width: 100%;
}
.lsidebar{
    height:150px;
    width:20%;
    float:left;
    background-color: green;
}
.center{
    height:150px;
    width: 60%;
    float: left;
    background-color: yellow;
}
.content{
    height:150px;
    width: 20%;
    float: left;
    background-color: lightgray;
}
.item1{
    height: 75px;
    width: 100%;
    background-color: lightblue;
}
.item2{
    height: 75px;
    width: 100%;
    background-color: lightgreen;
}
.rsidebar{
    height: 150px;
    width: 20%;
    float: left;
    clear: left;
    background-color: orange;
}
.item3{
    height: 150px;
    width: 100%;
    background-color: lightcoral;
}
.item4{
    height: 150px;
    width: 100%;
    background-color: lightgoldenrodyellow;
}
.bottom{
    height: 300px;
    width: 80%;
    float: left;
    background-color: purple;
}
.footer{
    height: 175px;
    background-color: pink;
    clear: both;
    width: 100%;
}